.cancel {
    width: 40%;
    margin: 100px auto;
}

.cancel__title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

@media screen and (max-width: 1000px) {
    .cancel {
        width: 50%;
    }

    .cancel__title {
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    .cancel {
        width: 60%;
    }

    .cancel__title {
        font-size: 22px;
    }
}