.sell {
    width: 50%;
    margin: 100px auto;
}

.sell__title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

.sell__content {
    padding: 0 5px;
}

.sell-form__img {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
    border: dotted 2px;
    height: 150px;
}

.sell-form__img-item {
    border: solid 1px red;
    color: red;
    padding: 10px 15px;
    border-radius: 10px;
    width: 30%;
    display: block;
    margin: 50px auto;
    text-align: center;

}

.sell-form__img-button {
    display: none;

}

.sell-form__item {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}

.sell-form__input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.sell-form__item2 {
    margin-bottom: 25px;
    color: Gray;
    font-size: 25px;
    font-weight: bold;
    border-bottom: solid 2px;
}

.sell-form__select {
    width: 100%;
    padding: 10px;
    border: solid 1px;
    border-radius: 5px;
}

.sell-form__textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px black;
}

.value_item::before {
    content: '￥';
    font-size: 25px;
    position: absolute;
    left: 5px;
    top: 58px;
    transform: translateY(-50%);
    pointer-events: none;
}

.value_item {
    position: relative;
}

.value_input {
    padding-left: 30px;
}

.sell-form__button {
    margin-bottom: 30px;
}

.sell-form__button-submit {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.another_input {
    padding-left: 30px;
    font-size: 15px;
    color: red;
}

@media screen and (max-width: 1000px) {
    .sell {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .sell {
        width: 80%;
    }
}